<h1>Listing prices for <%= @stock.symbol %></h1>

<table border="1" cellpadding="1" cellspacing="2">
  <tr>
    <th>Date</th>
    <th>Open</th>
    <th>High</th>
    <th>Low</th>
    <th>Close</th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%=h entry.created_on %></td>
    <td><%=h entry.open_price %></td>
    <td><%=h entry.high_price %></td>
    <td><%=h entry.low_price %></td>
    <td><%=h entry.close_price %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New stock', new_stock_path %>